.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.form-container{
  padding: 15px;
}
.tag-label{
  color: #ffffff;
  padding: 3px;
  margin: 5px;
  line-height: 1.2;
  background: #b1b2b2;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}
.tag-container{
  margin-top: 20px;
}
.react-tagsinput-tag{
  padding: 2px !important;
}
.react-tagsinput{
  height: 34px;
}
.react-tagsinput-input{
  width: 160px !important;
}
.autosuggest-container{
  position: absolute;
  background-color: #fdfdfd;
  z-index: 1;
  min-width: 100px;
}
.tk-autosuggest-tag{
  padding: 3px;
  padding-left: 5px;
  color: #333333;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.tk-autosuggest-tag.selected{
  background-color: #546caa;
}
.search-tag{
  font-size: 20px;
  color: #5cb85c;
}
.icon-holder{
  margin: 5px;
  position: absolute;
  bottom: 30px;
}
.icon-holder-time{
  position: absolute;
  bottom: 0;
  margin: 5px;
}
.icon-holder .glyphicon{
  margin-right: 5px;
  top: 5px;
}
.thumbnail{
  word-wrap: break-word;
  height: 400px;
  position: relative;
}
.thumbnail-container{
  margin-top: 20px;
  text-overflow: ellipsis;
}
.thumbnail-container h3{
  font-size: 18px;
}

.thumbnail-container a{
  color: #313131;
  font-weight: 600;
  line-height: 1.2;
}

.object-tag{
  display: inline-block;
  background-color: #2fa4e7;
  color: white;
  font-size: 11px;
  font-weight: bold;
  border-radius: 3px;
  margin: 2px;
  padding: 2px;
}
.time-holder{
  font-size: 10px;
  color: #9c9c9c;
}
.icon-holder-time .glyphicon{
  color: #9c9c9c;
  font-size: 20px;
  top: 5px;
  margin-right: 5px;
}
